@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;700&display=swap");
body {
  background-color: #242424;
}

/* Style Header */

header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 3.8rem;
  margin-bottom: 11.8rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav ul li {
  font-family: "Inter";
  font-size: 1.8rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}

header .container .btn-primary {
  background: #ffffff;
  border-radius: 10rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 1.1rem 5.55rem;
  color: #242424;
}

.s-hero .container .text .btn-primary-outline {
  border: 1px solid #ffffff;
  border-radius: 10rem;
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 1.1rem 3.95rem;
  color: white;
}

a.btn-primary.top {
  margin-right: 10.7rem;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

header ul li {
  display: flex;
}

header ul li img {
  margin-left: 1rem;
}

/* Style S-hero */

.s-hero {
}

.s-hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.s-hero .container .text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 68.1rem;
}

.s-hero .container .text .text-title {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: flex-start;
  font-family: "Inter";
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: rgba(255, 255, 255, 0.7);
}

.s-hero .container .text .title {
  margin-top: 1.7rem;
  margin-bottom: 2.4rem;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 130%;
  color: #ffffff;
  width: 100%;
  max-width: 74rem;
}

.s-hero .container .text .subtitle {
  margin-bottom: 4.8rem;
  font-family: "Inter";
  font-size: 1.8rem;
  line-height: 150%;
  max-width: 36.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.s-hero .container .image {
  width: 100%;
  max-width: 48.8rem;
  height: 49.6rem;
  background-color: var(--gray--colors-800);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.s-hero .container .text .text-title span {
  padding: 0.5rem 1.1rem;
  background: #3f3f3f;
  border-radius: 12rem;
}

/* Section Values */

.s-values {
  padding-top: 6.3rem;
  background: white;
  padding-bottom: 12.3rem;
}

.s-values .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-values .container .info-header {
  width: 100%;
  margin-bottom: 7.1rem;
}

.s-values .container .info-header .title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 130%;
  color: #242424;
  margin-bottom: 0.8rem;
}
.s-values .container .info-header .subtitle {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 130%;
  color: #242424;
}
.s-values .container .items-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 61.2rem;
}
.s-values .container .items-all .item {
  width: 100%;
  max-width: 25.6rem;
}
.s-values .container .items-all .item:nth-child(2) {
  margin-bottom: 9rem;
}
.s-values .container .items-all .item:nth-child(3) {
  margin-bottom: 9rem;
}
.s-values .container .items-all .item:last-child {
}
.s-values .container .items-all .item h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
  margin: 1rem 0;
  width: 20.3rem;
}
.s-values .container .items-all .item p {
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 150%;
  color: #616161;
}
.s-values .container .items-all .item:first-child {
  width: 25rem;
}

.s-values .container .items-all .item:last-child p {
  width: 23.9rem;
}
.s-values .container .images-all {
  display: flex;
  width: 100%;
  max-width: 44.9rem;
  flex-wrap: wrap;
  gap: 3.1rem;
  margin-right: 10rem;
}

.s-values .container .images-all .image:nth-child(2) {
  margin-top: -10.5rem;
}
.s-values .container .images-all .image:last-child {
  margin-top: -10.5rem;
}

/* Section Footer  */

footer {
  padding-top: 10.9rem;
  background: white;
  /* padding-bottom: 13.4rem; */
  background-color: #fafafa;
}

footer .container {
}

footer .container main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container main .header .text .title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 130%;
  color: #242424;
  margin-bottom: 0.8rem;
}

footer .container main .header .text .subtitle {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 130%;
  color: #242424;
}
footer .container main .header .all-buttons{
  border: 1px solid #C4C4C4;
  height: 7.2rem;
  display: flex;
  align-items: center;
  border-radius: 12rem;
  justify-content: center;
  width: 59.2rem;
  gap: 3.2rem;
}
footer .container main .header .all-buttons .to-you {
  background: #242424;
  color: white;
  border-radius: 12rem;
  width: 26.9rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container main .header .all-buttons .to-business {
  color: white;
  border-radius: 12rem;
  width: 26.9rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

footer .container main .card {
  background-color: black;
  width: 100%;
  height: 31.6rem;
  margin-top: 9.2rem;
}